miniflux_admin_user = "op://infrastructure/miniflux/admin/user"
miniflux_admin_pass = "op://infrastructure/miniflux/admin/password"
miniflux_db_user = "op://infrastructure/miniflux/database/owner"
miniflux_db_pass = "op://infrastructure/miniflux/database/password"

