#cloud-config
package_update: true
package_upgrade: true

yum_repos:
  epel:
    name: "Extra Packages for Enterprise Linux"
    baseurl: "https://dl.fedoraproject.org/pub/epel/$releasever/Everything/$basearch"
    enabled: true
    gpgcheck: true
    gpgkey: "https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-$releasever"

packages:
  - curl
  - dnf-automatic
  - git
  - ripgrep
  - tar
  - tmux
  - unzip
  - vim

timezone: UTC

users:
  - default
  - name: terraform
    gecos: Terraform
    groups: wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
%{ for key in ssh_authorized_keys ~}
      - ${key}
%{ endfor ~}
write_files:
  - path: /etc/dnf/automatic.conf
    permissions: "0644"
    owner: root:root
    content: |
      [commands]
      upgrade_type = default
      random_sleep = 20
      download_updates = yes
      apply_updates = yes
      reboot = when-needed

      [emitters]
      emit_via = stdio

      [base]
      debuglevel = 1
runcmd:
  - systemctl enable --now dnf-automatic.timer

final_message: "The system is finally up, after $UPTIME seconds"
